body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  font-family: 'Tiny5', sans-serif;
}

.star {
  position: absolute;
  height: 2px;
  width: 2px;
  background-color: #fff;
  border-radius: 50%;
}

.title {
  color: #fff;
  text-align: center;
  margin-top: 50px;
}

.topnav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.topnav a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.palkia {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays on top */
}

.palkia img {
  width: 100px; /* Adjust size as needed */
  height: auto;
}
